{:scheduler-bot-server        {:period        5000
                               :initial-delay 5000}
 :scheduler-rss-feeder        {:period        15000
                               :initial-delay 5000}
 :scheduler-feed-items-pruner {:period        3600000
                               :initial-delay 5000}}